$black: #333;
$white: #fff;
$green: #96c038;
$orange: #ff8f00;
$blue: #8ea7ff;
$light-grey: #f8f8f8;
$grey: #ababab;
$error: #c71f1f;
$background-color: #23242a;
$dark-gradient: linear-gradient(180.14deg, #222224 24.15%, #0f0f10 135.79%);
$woodsmoke-dark: #0e0e11;
