@font-face {
    font-family: 'Montserrat-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/montserrat-800.eot');
    src: url('../../fonts/montserrat-800.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-800.woff2') format('woff2'),
    url('../../fonts/montserrat-800.woff') format('woff'),
    url('../../fonts/montserrat-800.ttf') format('truetype'),
    url('../../fonts/montserrat-800.svg#montserrat-800') format('svg');
}
@font-face {
    font-family: 'Montserrat-Semi-Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/montserrat-600.eot');
    src: url('../../fonts/montserrat-600.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-600.woff2') format('woff2'),
    url('../../fonts/montserrat-600.woff') format('woff'),
    url('../../fonts/montserrat-600.ttf') format('truetype'),
    url('../../fonts/montserrat-600.svg#montserrat-600') format('svg');
}
@font-face {
    font-family: 'Montserrat';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/montserrat-400.eot');
    src: url('../../fonts/montserrat-400.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/montserrat-400.woff2') format('woff2'),
    url('../../fonts/montserrat-400.woff') format('woff'),
    url('../../fonts/montserrat-400.ttf') format('truetype'),
    url('../../fonts/montserrat-400.svg#montserrat-400') format('svg');
}
