.button {
    @include font-style($montserrat-bold, 16px, $white);
    padding: 8px 40px;
    background: linear-gradient(90.55deg, #8ea7ff 0%, #7291ff 100%);
    border-radius: 10px;

    &--disabled {
        background: $grey;
        color: $black;
        pointer-events: none;
    }
}
