@mixin media($width) {
    @media only screen and (max-width: $width + px) {
        @content
    }
}

//fonts
$montserrat: 'Montserrat', sans-serif;
$montserrat-bold: 'Montserrat-Bold', sans-serif;
$montserrat-semi-bold: 'Montserrat-Semi-Bold', sans-serif;

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: $dark-gradient;
    overflow: auto;
}
.page {
    padding: $indent;
}
