@mixin truncate-text($line-height: normal) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: $line-height;
}

@mixin font-style($family, $size: inherit, $color: inherit, $line-height: null) {
    font-family: $family;
    font-size: $size;
    color: $color;
    line-height: $line-height;
}

@mixin visibility($visibility, $opacity) {
    visibility: $visibility;
    opacity: $opacity;
}

@mixin size($size) {
    height: $size;
    width: $size;
}

@mixin placeholder-color($color) {
    &::-webkit-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-moz-placeholder {
        color: $color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
}

@mixin pseudo-element($pseudo-element: after, $content: '', $position: absolute) {
    @if ($pseudo-element == all) {
        &:after,
        &:before {
            content: $content;
            position: $position;
            display: block;
            @content;
        }
    }
    @else {
        &:#{$pseudo-element} {
            content: $content;
            position: $position;
            display: block;
            @content;
        }
    }
}

@mixin placeholder-font-family($font-family) {
    &::-webkit-input-placeholder {
        font-family: $font-family;
    }
    &::-moz-placeholder {
        font-family: $font-family;
    }
    &:-moz-placeholder {
        font-family: $font-family;
    }
    &:-ms-input-placeholder {
        font-family: $font-family;
    }
}

@mixin background($icon: null, $size: contain, $position: center, $color: transparent, $repeat: no-repeat) {
    @if ($icon == null) {
        background: $color $position / $size $repeat;
    }
    @else {
        background: $color url($icon) $position / $size $repeat;
    }
}
